/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
  background-color: #ffffff;
  color: #111;
}

/* ENCABEZADO */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  z-index: 1000;
  text-align: center
